<section class="dining-section">
    <h2 class="title">Dining Experience</h2>
    <p class="subtitle">Enjoy world-class cuisine and exceptional dining atmospheres.</p>

    <div class="dining-grid">
        <div class="dining-card">
            <img src="assets/resturent.png" alt="Main Restaurant">
            <h3>Main Restaurant</h3>
            <p>All-day dining with international buffet and live cooking stations.</p>
        </div>


        <div class="dining-card">
            <img src="assets/fineDining.png" alt="Fine Dining">
            <h3>Fine Dining</h3>
            <p>Elegant setting offering gourmet dishes and a curated wine selection.</p>
        </div>


        <div class="dining-card">
            <img src="assets/cafe.png" alt="Café ">
            <h3>Café & Lounge</h3>
            <p>Relax with coffee, tea, and light snacks in a cozy atmosphere.</p>
        </div>
    </div>
</section>